<div class="weui_tabbar">

	<a class="weui_tabbar_item${tab=='home'?' weui_bar_item_on'}" href="${base}/wap/index">
		<div class="weui_tabbar_icon">
			<img alt="" src="${base}/assets/wap/images/icon_nav_button.png">
		</div>
		<p class="weui_tabbar_label">首页</p>
	</a>
	
	<a class="weui_tabbar_item${tab=='product'?' weui_bar_item_on'}" href="${base}/wap/product">
		<div class="weui_tabbar_icon">
			<img alt="" src="${base}/assets/wap/images/icon_nav_msg.png">
		</div>
		<p class="weui_tabbar_label">产品</p>
	</a> 
	
	<a class="weui_tabbar_item${tab=='find'?' weui_bar_item_on'}" href="javascript:;">
		<div class="weui_tabbar_icon">
			<img alt="" src="${base}/assets/wap/images/icon_nav_article.png">
		</div>
		<p class="weui_tabbar_label">发现</p>
	</a> 
	
	<a class="weui_tabbar_item${tab=='me'?' weui_bar_item_on'}" href="javascript:;">
		<div class="weui_tabbar_icon">
			<img alt="" src="${base}/assets/wap/images/icon_nav_cell.png">
		</div>
		<p class="weui_tabbar_label">我</p>
	</a>
	
</div>